
/*Setting up the Tabs along the top*/

body{
	margin: 15px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6;
}

.container{
	width: 800px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

#pdfTab{
	float:right;
}

/* To See Where everything sits*/

div, h4, p{
	/* border: 1px solid black; */
	border: 1px solid #ededed;
	
}

/* Other styling */

p{
	text-align: justify;
}

h4{
	margin-top:0px;
	margin-bottom:0px;
}

.info, .info *{
	text-align: center;
	
}
.nameFooter {
	text-align: center;
}

.workExTitle .workExBody{
	text-align: justify;
}

.workExDate{
	float: right;
}

table, table th, table td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

table{
	width:100%;
}

table td{
	width:20%;
}

th{
	background: #bbbbbb;
}

.altern{
	/*width: auto;*/
	background: #dddddd;
}

.invisible{
	display:none;
}

td:hover{
	background: #cccccc;
}

.intLink{
	cursor: pointer;
}

.courseNames, .strong{
	font-weight: bold;
}

.courseNames {
	font-style: italic;
}